{% extends 'base.html.twig' %}

{% block title 'All videos'%}

{% block body %}
    <div class="container">
        <h1>List of videos</h1>
        <p>
            Welcome on xHc !
        </p>
    </div>
{% endblock %}